<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="/img/shortcut.png">
    <title>Word to pdf</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>

<body>

  {{{body}}}

  <script>
  
  var sendForm = document.getElementsByClassName("sendemail")[0];
  var send = document.querySelector("#send");

  send.addEventListener("click", sendMail);

  function sendMail() {
    sendForm.submit();

  }

  var uploadForm = document.getElementsByClassName("fileupload")[0];
  var uploadBtn = document.querySelector("#upload");
  
  uploadBtn.addEventListener("click", uploadFile);

  function uploadFile() {
    uploadForm.submit();
  }

  
</script>

</body>

</html>